@charset "UTF-8";

/* 
GLOBAL
*/

/* content */
.company_area															{position: relative; width: 960px; margin-left: 60px; padding-bottom: 100px;}
.company_area *															{font-family: 'NanumBarunGothic','Dotum','Arial';}

/* local-navigation-bar */
.company_area .sub_header												{padding-top: 30px;}
.sub_header .sub_tab_company:after										{content: ''; display: block; clear: both; width: 0; height: 0; visibility: hidden;}
.sub_header .sub_tab_company li											{float: left; height: 42px; padding-right: 10px; background: url(../images/20160301/bg_tab_bar.png) no-repeat 95% 5%;}
.sub_header .sub_tab_company li a										{display: block; margin: 0 10px; text-align: center; cursor: pointer;}
.sub_header .sub_tab_company li:first-child a							{margin-left: 0;}
.sub_header .sub_tab_company li:last-child								{background: none;}
.sub_header .sub_tab_company li.sub_menu_on span						{padding-bottom: 6px; color: #9933cc; border-bottom: 2px #9933cc solid;}
.sub_header .sub_tab_company span										{color: #888888; font-size: 19px; font-family: 'NanumBarunGothic'; font-weight: bold;}

/* company-intro */
.company-intro .about_top												{height: 220px; padding-top: 105px; border-bottom: 1px solid #e4e4e4; background: url(../images/20160301/bg_company_about_top.jpg) no-repeat 100% 100%;}
.company-intro .about_top h2											{width: 545px; font-size: 26px; color: #222222; line-height: 1.4; margin-bottom: 20px;}
.company-intro .about_top p												{font-size: 12px; color: #666666; line-height: 1.7; font-weight: bold;}
.company-intro .about_enm li>*											{float: left;}
.company-intro .about_enm li											{width: 930px; display: inline-block; padding: 220px 0 0 30px; margin-top: 60px;}
.company-intro .about_enm li:first-child								{margin-top: 40px;}
.company-intro .about_enm li h3											{width: 180px; line-height: normal; font-size: 26px; color: #222222;}
.company-intro .about_enm li h3 span									{display: block; font-size: 12px; font-weight: normal; color: #666666; margin-top: 10px;}
.company-intro .about_enm li p											{width: 750px; font-size: 12px; color: #666666; line-height: 1.7; float: left;}
.company-intro .about_enm li.media										{background: url(../images/20160301/bg_company_about_media.jpg) no-repeat 0 0;}
.company-intro .about_enm li.film										{background: url(../images/20160301/bg_company_about_film.jpg) no-repeat 0 0;}
.company-intro .about_enm li.music										{background: url(../images/20160301/bg_company_about_music.jpg) no-repeat 0 0;}
.company-intro .about_enm li.live										{background: url(../images/20160301/bg_company_about_live.jpg) no-repeat 0 0;}
.company-intro .about_enm li.ani										{background: url(../images/20160301/bg_company_about_ani.jpg) no-repeat 0 0;}

/* company-vision */
.company-vision .company_area .vision									{padding: 110px 0; background: url(../images/20160301/bg_company_vision.gif) no-repeat 490px 180px;}
.company-vision .company_area .vision h2								{width: 545px; height: 202px; font-size: 34px; display: inline-block; border-bottom: 1px #e1e1e1 solid;}
.company-vision .company_area .vision img								{padding-top: 20px;}
.company-vision .company_area .vision li								{margin-top: 35px;}
.company-vision .company_area .vision li h4								{font-size: 19px; color: #333333;}
.company-vision .company_area .vision li p								{font-size: 12px; color: #666666; line-height: 1.7; margin-top: 10px;}

/* company-history */
.company-history .history .history_top									{height: 268px; padding-top: 80px; background: url(../images/20160301/bg_company_history.jpg) no-repeat 625px 10px;}
.company-history .history .history_top h2								{width: 545px; display: inline-block; margin: 0; padding: 0; font-size: 26px; color: #222222; line-height: 1.4;}
.company-history .history .history_top span								{display: block; margin-top: 10px; font-size: 13px; color: #666666;}
.company-history .history .history_top p								{font-size: 12px; color: #666666; line-height: 1.7; font-weight: bold; margin-top: 20px;}
.company-history .history_top .history_menu								{position: relative; top: 42px; width: 374px; height: 32px; line-height: 32px;}
.company-history .history_top .history_menu li							{float: left; font-size: 15px; text-align: center; padding: 0 20px; color: #666666;}
.company-history .history_top .history_menu li a						{text-decoration: none; color: #666666;}
.company-history .history_top .history_menu li.history_menu_on			{background: url(../images/20160301/bg_history_tab_rgt.gif) no-repeat 0 0;}
.company-history .history_top .history_menu li.active					{background: url(../images/20160301/bg_history_tab_rgt.gif) no-repeat 0 0;}
.company-history .history_top .history_menu li.active a					{color: #ffffff;}
.company-history .history_top .history_menu li.history_menu_on a		{color: #ffffff;}
.company-history .history_table .history_table_ul						{width: 100%;}
.company-history .history_table .history_table_ul li					{padding-top: 8px; border-top: 1px solid #e4e4e4; display: inline-block; width: 100%;}
.company-history .history_table .history_table_ul li>*					{float: left;}
.company-history .history_table .history_table_ul .year					{width: 12%; padding-top: 10px; font-size: 20px; font-weight: bold; color: #9933cc; line-height: 1.4; vertical-align: top;}
.company-history .history_table .history_table_ul .month				{position: relative; width: 87%; padding: 0;}
.company-history .history_table .history_table_ul .month li				{display: inline-block; width: 87%; padding: 10px 0 10px 13%; border-top: 1px solid #e4e4e4; position: relative;}
.company-history .history_table .history_table_ul .month li:first-child	{border-top: 0;}
.company-history .history_table .history_table_ul .month .txt			{display: inline-block; width: 100%; margin: 5px 0; padding-left: 2%; background: url(../images/20160301/ico_dot_gry.gif) no-repeat 0 7px; font-size: 12px; color: #666666; line-height: 1.5; vertical-align: top;}
.company-history .history_table .history_table_ul .month .num			{position: absolute; top: 10px; left: 0; width: 60px; font-size: 18px; font-weight: bold; color: #222222; line-height: 1.7; text-align: center; vertical-align: top;}
.company-history .history_table .history_table_ul .month .num span		{display: inline-block; font-size: 14px; vertical-align: middle; background-image: none;}

/* company-ceo */
.company-ceo .ceo														{padding-bottom: 150px; background: url(../images/20160301/bg_company_ceo.jpg) no-repeat 100% 110px;}
.company-ceo .ceo h2													{padding-top: 105px; width: 545px; font-size: 26px; color: #222222; line-height: 1.4;}
.company-ceo .ceo p														{width: 450px; font-size: 12px; color: #666666; line-height: 1.7; margin-top: 30px;}

/* company-ir */
.company-ir .ir															{padding-bottom: 150px;}
.company-ir .ir_top														{padding-top: 30px; height: 52px;}
.company-ir .ir_top h2													{width: 545px; font-size: 26px; color: #222222; line-height: 1.4;}
.company-ir .ir_top .ir_menu											{position: absolute; top: 123px; right: 0; height: 32px;}
.company-ir .ir_top .ir_menu li											{float: left; font-size: 15px;}
.company-ir .ir_top .ir_menu li a										{display: block; position: relative; padding: 0 20px; height: 32px; color: #666666; line-height: 32px;}
.company-ir .ir_top .ir_menu li.ir_menu_on								{background: url(../images/20160301/bg_history_tab_rgt.gif) no-repeat 100% 0;}
.company-ir .ir_top .ir_menu li.ir_menu_on a							{color: #ffffff;}
.company-ir .in_ir_menu													{position: absolute; top: 170px; right: 0; left: 0; height: 40px; background: #f6f6f6; text-align: center; border-top: 1px solid #e4e4e4;}
.company-ir .in_ir_menu li												{display: inline-block; text-align: center; line-height: 40px; padding: 0 20px; font-size: 12px; font-weight: bold; color: #666666; background: url(../images/20160301/bg_tab_bar.gif) no-repeat 0 13px;}
.company-ir .in_ir_menu li:first-child									{background: none;}
.company-ir .in_ir_menu a												{color: #666666; height: 40px;}
.company-ir .in_ir_menu li.in_ir_menu_on span							{display: inline-block; border-bottom: 1px solid #9933cc;}
.company-ir .ir_load													{width: 100%; height: 478px; padding-top: 100px;}
.company-ir .ir_load h4													{font-size: 19px;}
.company-ir .ir_load .ir_table											{position: relative; top: 0; width: 98%; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; table-layout: fixed; font-size: 12px; color: #666666;}
.company-ir .ir_load .ir_table th,
.company-ir .ir_load .ir_table td										{padding: 20px 0 20px 0;}
.company-ir .ir_load .ir_table th										{padding-left: 30px; text-align: left; width: 65%;}
.company-ir .ir_load .ir_table td										{width: 35%; height: 24px; position: relative; padding: 0 10px;}
.company-ir .ir_load .ir_table td>a										{display: block; height: 17px; padding: 7px 0 0 22px; position: relative; right: -200px; background: url(../images/20160301/bg_file_rgt_m.png) no-repeat 0 45%;}
.company-ir .ir_load .ir_table td>a:hover								{display: block; height: 17px; padding: 7px 0 0 22px; position: relative; right: -200px; background: url(../images/20160301/bg_file_rgt_mw.jpg) no-repeat 0 45%;}
.company-ir .ir_load .ir_table strong									{display: block; height: 17px; padding: 7px 0 0 22px; position: absolute; top: 0px; left: 14px; font-size: 11px; color: #666666; letter-spacing: -1px; background: url(../images/20160301/ico_xls.gif) no-repeat 0 50%;}
.company-ir .ir_s_box													{position: absolute; top: 280px; right: 10px; display: inline-block; width: 111px; height: 28px; margin-right: 10px; padding: 2px 2px 2px 5px; border: 1px #e4e4e4 solid; border-radius: 2.5px; text-align: left;}
.company-ir .ir_s_box select											{border: 0; font-size: 12px; color: #666666; vertical-align: top; display: inline-block; padding: 2px 2px 2px 5px; width: 111px; height: 28px; position: absolute; right: 20px; top: 264px; color: #888888; outline: none; text-decoration: none; font-size: 12px; background-color: #ffffff;}
.company-ir .ir_s_box .ir_s_selector									{display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 107px; height: 21px; background: #fff url(../images/20160301/ico_arr_bot.gif) no-repeat 97px 12px; padding: 7px 0 0 4px; font-size: 12px; color: #888888;}
.company-ir .ir_s_box .ir_s_holder										{z-index: 250; position: relative; width: 111px; height: 28px;}
.company-ir .ir_s_box .ir_s_holder .ir_s_option							{z-index: 251; overflow-y: auto; overflow-x: hidden; position: absolute; top: -2px; left: -5px; width: 116px; background: #fff; border: 1px solid #c099e1; font-size: 12px;}
.company-ir .ir_s_box .ir_s_holder .ir_s_option li a					{display: block; outline: none; height: 30px; padding-left: 8px; color: #888888; line-height: 30px;}